@import "page-layout.css";
@import "typography.css";
@import "color.css";
@import "nav-list.css";

#main-div {
  width: 80%;
  padding: 1px;
  display: block;
  position: relative;
}

.section-title {
  border-bottom: 2px solid gray;
  max-width: 400px;
}