@import "page-layout.css";
@import "typography.css";
@import "color.css";
@import "nav-list.css";

#main-div {
  width: 80%;
  padding: 1px;
  /* left: 150px;
  top: 0px; */
  /* position: absolute; */
  /* float: right; */
  display: block;
}
