@import "page-layout.css";
@import "typography.css";
@import "color.css";
@import "nav-list.css";

#main-div {
  width: 80%;
  padding: 1px;
  display: block;
  position: relative;
}

#main-div h1,
#main-div h2,
#main-div h3,
#main-div h4,
#main-div h5,
#main-div h6,
#main-div p {
  margin: 10px 0px;
}

.host-list-div {
  background-color: white;
  /* border: 1px solid gray; */
  max-width: 500px;
  margin: 10px 0;
}

.host-list-div * {
  margin: 0px;
}

.host-list {
  padding: 0px;
  min-height: 100px;
}

.input-host-div {
  border-top: 1px solid gray;
  position: relative;
}

.host-input {
  width: 80%;
  border: 0;
  border-radius: 0;
  padding: 3px 5px;
  font-size: medium;
}

.add-host-btn {
  border-radius: 0;
  display: block;
  width: 20%;
  padding: 3px;
  float: right;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.unsaved::after {
  content: " (unsaved)";
}

.deleted .host {
  text-decoration: line-through;
}
.deleted::after {
  content: " (unsaved)";
}

.host-list-item {
  display: block;
  padding: 3px 0;
  padding-left: 5px;
  /* border-bottom: 1px solid gray; */
}

.host-list-item:nth-child(even) {
  background-color: #EEEEEE;
}

.host-list-item button {
  float: right;
  background-color: inherit;
  min-width: 64px;
  text-align: center;
  color: black;
  padding: 0px 5px;
  font-size: medium;
}

.host-list-item button:hover {
  color: red;
}

.host-list-item button:active {
  color: black;
}

.host-list-item .host {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
}

#storage-used {
  display: block;
  margin: 0;
  position: sticky;
  float: right;
  top: 0;
  right: 0;
  border-bottom-left-radius: 3px;
  background-color: var(--light-color);
}

.section-title {
  border-bottom: 2px solid gray;
  max-width: 400px;
}

.description {
  color: rgb(110, 110, 110);
}

#default-time {
  width: 100%;
}

#blocking-motto {
  width: 100%;
}
.days-checklist {
  padding: 0px;
}
.days-checklist li {
  display: inline-block;
  font-weight: bold;
}
