* {
  box-sizing: border-box;
  /* margin: 0px; */
}

.container {
  position: relative;
}

body {
  max-width: 1000px;
  margin: auto;
  padding: 0px;
}

header {
  min-height: 100px;
  position: relative;
}

header h1, header h2 {
  position: absolute;
  bottom: 20px;
  margin: 0;
}

header h1 {
  left: 20px;
}

header h2 {
  right: 20px;
}

main {
  min-height: 500px;
  margin: 10px 0px;
}

section {
  margin: 20px 40px;
}

section .section-title {
  margin: 0 0 10px 0;
}

footer {
  text-align: center;
  min-height: 80px;
  padding: 20px 20px;
}

button {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
}

details {
  margin: 5px 0;
}