* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-size: medium;
}

header h1 {
  font-size: xx-large;
}

.blocked-link {
  text-decoration: underline;
}

button {
  font-weight: bold;
}