@import "./color.css";

aside {
  min-width: 100px;
  padding: 0px;
  width: 20%;
  position: absolute;
  bottom: 0px;
  top: 0px;
  right: 0px;
  margin: 0px;
  float: right;
}

aside * {
  margin: 0px;
}

.nav-list {
  position: sticky;
  top: 0;
  right: 0;
  padding: 0px;
}

.nav-list a {
  color: black;
  text-decoration: none;
}

.nav-list li {
  display: block;
  padding: 10px;
}

.nav-list li:hover{
  background-color: var(--side-bar-dark);
}

.nav-list li:active,
.nav-list li.highlight  {
  background-color: var(--side-bar-light);
}
