@import "layout.css";

body {
  max-width: 1000px;
  margin: auto;
  padding: 0px;
}

header {
  min-height: 100px;
  position: relative;
}

header h1,
header h2 {
  position: absolute;
  bottom: 20px;
  margin: 0;
}

header h1 {
  left: 20px;
}

header h1::before {
  background-image: url('/images/logo.svg');
  background-size: 50px 50px;
  display: inline-block;
  content: "";
  width: 50px;
  height: 50px;
  margin-right: 10px;
  position: relative;
  top: 10px;
}

header h2 {
  right: 20px;
}

main {
  min-height: 500px;
  margin: 10px 0px;
}

section {
  margin: 20px 40px;
}

section .section-title {
  margin: 0 0 10px 0;
}

footer {
  text-align: center;
  min-height: 80px;
  padding: 20px 20px;
}
