:root {
  --light-color:  #e7e7ef;
  --bright-color:  #279af1;
  --deep-color: #1B4079;
  --dark-color:  #212738;
  --side-bar-color: #23b5d3;
  --side-bar-dark: #1d97af;
  --side-bar-light: #50cae2;
}

main {
  background-color: var(--light-color);
}

aside {
  background-color: var(--side-bar-color);
}

header {
  background-color: var(--bright-color);
  color: var(--dark-color);
}

footer {
  background-color: var(--light-color);
}

button {
  background-color: var(--deep-color);
  color: white;
}

button:hover {
  background-color: var(--dark-color);
}

button:active {
  background-color: #2559a7;
}

.warning {
  color: #b33a3a;
}